exploration
DEP_boxplotFR.png
DEP.png
DEP_boxplotEN.png
DEP_last_5_years.png
DEP_last_5_years_FIT.png
DEP_test_avec_density_INLA.png
Incubation_timeEN.png
Incubation_timeFR.png
NEW-NAFO map-poster-8.5 x 11.pdf
Total_egg_production_Smith20222BI.png
Total_egg_production_Smith20222EN.png
Total_egg_production_Smith20222FR.png
Total_egg_production_depth_outliers_EN.png
Total_egg_production_depth_outliers_FR.png
estimated_outliersEN.png
estimated_outliersFR.png
estimated_outliers_depthEN.png
estimated_outliers_depthFR.png
outliers_depth_histoEN.png
outliers_depth_histoFR.png
position_outliers_depths.png
position_outliers_depthsFR.png
volume_outliersBI.png
volume_outliersEN.png
volume_outliersFR.png
