DEP_INLA_mesh150km_pred_station_ZAG2022_tajet1outliers_rm_ZAG_gamma.png
DEPM_INLA_mesh150km_pred_station_ZAG2022_tajet1_ZAG_bernouilli.png
DEPM_INLA_mesh150km_pred_station_ZAG2022_tajet1_ZAG_gamma.png
DEP_INLA_mesh150km_pred_station_ZAG2022_tajet1outliers_depth_rm_ZAG_bernouilli.png
DEP_INLA_mesh150km_pred_station_ZAG2022_tajet1outliers_depth_rm_ZAG_gamma.png
DEP_INLA_mesh150km_pred_station_ZAG2022_tajet1outliers_rm_ZAG_bernouilli.png
DEP_INLA_mesh150km_pred_station_ZAG2022_tajet2_ZAG_bernouilli.png
DEP_INLA_mesh150km_pred_station_ZAG2022_tajet2_ZAG_gamma.png
maq_eggs_stage1_5_INLA_mesh150km_pred_station_ZAG2022_tajet1_ZAG_bernouilli.png
maq_eggs_stage1_5_INLA_mesh150km_pred_station_ZAG2022_tajet1_ZAG_gamma.png
