tile_spawning_proportion_2022BI.png
tile_spawning_proportion_2022EN.png
tile_spawning_proportion_2022FR.png
tile_spawning_proportion_2022include4XEN.png
tile_spawning_proportion_2022include4XFR.png
ComparaisonFG_BI.png
ComparaisonFG_EN.png
ComparaisonFG_FR.png
NsamplesEN.png
NsamplesFR.png
Nsamples_stagesEN.png
Nsamples_stagesFR.png
Nsamples_stages_yearEN.png
Nsamples_stages_yearFR.png
Nsamples_stagesinclude4XEN.png
Nsamples_stagesinclude4XFR.png
Nsamplesinclude4XEN.png
Nsamplesinclude4XFR.png
SD_bootBI.png
SD_bootFR.png
Valdiation_spawning_larvesBI.png
Valdiation_spawning_larvesEN.png
Valdiation_spawning_larvesFR.png
bias_indicator_spawning_EN.png
bias_indicator_spawning_FR.png
durationBI.png
durationEN.png
durationFR.png
explain_changes_with_spawning_at_stationBI.png
explain_changes_with_spawning_at_stationEN.png
explain_changes_with_spawning_at_stationFR.png
nlme_spawning_proportion_2022BI1.png
nlme_spawning_proportion_2022BI2.png
nlme_spawning_proportion_2022BI3.png
nlme_spawning_proportion_2022EN.png
nlme_spawning_proportion_2022EN1.png
nlme_spawning_proportion_2022EN2.png
nlme_spawning_proportion_2022EN3.png
nlme_spawning_proportion_2022FR.png
nlme_spawning_proportion_2022FR1.png
nlme_spawning_proportion_2022FR2.png
nlme_spawning_proportion_2022FR3.png
nlme_spawning_proportion_2022include4XEN.png
nlme_spawning_proportion_2022include4XEN1.png
nlme_spawning_proportion_2022include4XEN2.png
nlme_spawning_proportion_2022include4XEN3.png
nlme_spawning_proportion_2022include4XEN_test_boot.png
nlme_spawning_proportion_2022include4XFR.png
nlme_spawning_proportion_2022include4XFR1.png
nlme_spawning_proportion_2022include4XFR2.png
nlme_spawning_proportion_2022include4XFR3.png
nlme_valid2022EN.png
nlme_valid2022FR.png
nlme_valid2022include4XEN.png
nlme_valid2022include4XFR.png
nlme_validyear2022EN.png
nlme_validyear2022FR.png
nlme_validyear2022include4XEN.png
nlme_validyear2022include4XFR.png
spawning_CV_BI.png
spawning_CV_EN.png
spawning_CV_FR.png
spawning_season_2022BI.png
spawning_season_2022EN.png
spawning_season_2022EN2.png
spawning_season_2022FR.png
spawning_season_2022FR2.png
test_boot_1999_k10.png
validation_stages_prop.png
